@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Countdown Timer</h1>
    <p class="lead">A Web application to keep track of milestones.</p>
    <p><a href="/Home/Timer" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>
